<div class="row">
    <div class="col-md-8 mx-auto mb-5">
        <label>Add a new post</label>
        <textarea name="post" placeholder='add new post here' style='width:100%' rows="2" #postText [(ngModel)]="model.text"></textarea>
        <label *ngIf='model.file'>Slected File : {{ model.file.name }}</label>
        <div>
            <button class="btn btn-primary" (click)='selectFile(imgInput)'><i class="fa fa-camera"></i> Image</button>
            <button class="btn btn-primary" (click)='selectFile(fileInput)'><i class="fa fa-file"></i> File</button>
        </div>
        <input type="file" id="imageInput" #imgInput style="display:none" accept="image/*" (change)='hadleFile($event)' />
        <input type="file" id="fileInput" #fileInput style="display:none" (change)='hadleFile($event)' />
        <div class="mt-2">
            <button class="btn btn-warning" (click)='post()'><i class="fa fa-send-o"> POST</i></button>
        </div>

    </div>
</div>
<div *ngFor="let post of posts" class="col-md-8 mx-auto">
    <app-post [post]="post" [me]="me"></app-post>
</div>